HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### CodeBlocks ###
*.layout
*.depend
*.layout.bak
*.cbp
*.cbp.bak
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.log
*.tmp
*.d
*.class
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.swn
*.swm